API/RestApplication/secret.json
API/.vs
API/RestApplication/obj
API/RestApplication/bin
API/RestApplication/Data/Migrations
API/RestApplication/Data/Images
API/RestApplication/secret.Development.json
API/RestApplication/appsettings.Development.json
